.wrapper {
  width: 500px;
  height: 500px;
  background-color: gray;
  position: relative;
}
.guitarImg {
  width: 100%;
  transform: rotate(45deg);
}
.lineBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgb(73, 71, 71);
  cursor: pointer;
  display: flex;
}
.line > div {
  margin-right: 4px;
  height: 5px;
  flex-grow: 1;
  background-color: white;
}
.line > div:active {
  background-color: black;
}
